<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MiMaster.master.cs" Inherits="Portfolio.MiMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <asp:ContentPlaceHolder ID="head" runat="server">   
    </asp:ContentPlaceHolder>
    <link rel="icon" href="images/portfolio.ico">
    <title>Juan Perrotat | Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="~/content/estilos.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <form id="form1" runat="server">
        <div>
             <header class="header">
                <div>
                    <h3 class="headerBarra">Juan Perrotat | Desarrollador .NET Jr</h3>
                </div>
                 <nav>
                     <ul class="nav-links">
                        <li><a href="Default.aspx">Inicio</a></li>
                        <li><a href="AcercaDeMi.aspx">Sobre Mí</a></li>
                        <li><a href="Proyectos.aspx">Proyectos</a></li>
                        <li><a href="Contacto.aspx">Contacto</a></li>
                    </ul>
                 </nav>
                 <%--<a href="https://drive.google.com/file/d/1irv6dozf6xvk0nkkiocw7tansa1topd2/view?usp=sharing" class="btn">ver cv</a>--%> 
              </header>
            
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <footer>
                    <h2>Mis redes</h2>
                        <div class="contacto">
                                <a href="https://www.linkedin.com/in/juan-perrotat/" target="_blank">
                                <img src="https://cdn.worldvectorlogo.com/logos/linkedin-icon-2.svg" class="red-social" alt="">
                                </a>
                            <hr />
                                <a href="https://github.com/JuanPerrotat" target="_blank">
                                <img src="https://icones.pro/wp-content/uploads/2021/06/icone-github-grise.png" class="red-social" alt="">
                                </a>
                        </div>
                        <p>&copy; <%: DateTime.Now.Year %> - Juan Perrotat | Hecho con ayuda de <a href="https://maxiprograma.com" class="copy" target="_blank">Maxi Programa</a></p>
             </footer>
        </div>
    </form>
    <script src="Scripts/funciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
